<footer class="dark">
	<div class="container-fluid">
		<div class="footer-info row">
			<div class="footer-info_sns col-sm-6">
				<h3>Follow us on Facebook</h3>
				<div class="fb-follow" 
					data-href="https://www.facebook.com/EvergreenGleeClub" 
					data-layout="standard" 
					data-size="large" 
					data-width="300px"
					data-show-faces="true"
					data-colorscheme="dark"
				></div>
			</div>
			<div class="footer-info_join-us col-sm-6" lang="ja">
				<h3>Join us</h3>
				<p>一緒に歌いませんか。練習見学希望その他何なりと<a href="/contact">お問い合わせ</a>ください。 </p>
			</div>
		</div>
		<div class="bottom-bar row center-xs">
			<p class="footer_bottom-bar_copyright col-sm-12">
				2017 Evergreen Glee Club.  All Rights Reserved.
			</p>
		</div>
	</div>
</footer>