<div id="header-wrapper">
	<header>
		<h1><a href="/">{{ site.title }}</a></h1>
	</header>
	<nav>
		<ul class="nav-menu">
			{% for page in site.pages | sort:order %} 
			        {% unless page.exclude %}
					<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endunless %}
			{% endfor %}
			<li><a href="{{ "/news" | prepend: site.baseurl }}">News</a></li>
			<li>
				<a href="https://www.facebook.com/EvergreenGleeClub/" target="_blank" class="social-link">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
		</ul>
		<span class="hamburger" aria-hidden="true"><i class="fa fa-bars"></i></span>
	</nav>
</div>

