<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Open Graph Site Info-->
	<meta property="fb:app_id" content="709313542595138"/>
	<meta content="Evergreen Glee Club" property="og:site_name">
	<meta content="Evergreen Glee Club, founded in 2006, is a local men’s chorus in Seattle that sings traditional and contemporary Japanese songs. EGC、エバグリーン・グリー・クラブは、2006年にシアトルで結成された、男性コーラスグループです。" property="og:description">

	<!--Open Graph Page Info-->
	<meta property="og:url"           content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{page.title | truncate: 40}}" />
  <meta property="og:description"   content="{{page.excerpt | remove: '<p>' | remove: '</p>' | truncate: 40}}" />
	{% if page.images.feature %}
  <meta property="og:image"         content="{{site.url}}{% asset_path {{page.images.feature}} %}" />
	{% endif %}

	<!--Usual Meta Stuff-->
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
  {% css main %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"  />-->

</head> 