<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Evergreen Glee Club, Glee, Singing, Japanese, Seattle, Washington, Puget Sound">

	<!--Open Graph Site Info-->

	<meta content="Evergreen Glee Club" property="og:site_name">

	{% seo %}

	<!--Open Graph Page Info-->

	{% if page.images.feature %}
  <meta property="og:image"         content="{{site.url}}{% asset_path {{page.images.feature}} %}" />
	{% else %}
  <meta property="og:image"         content="{{site.url}}{% asset_path 'pages/home_title_intro.jpg' %}" />
	{% endif %}

	<!--Usual Meta Stuff-->
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  {% css main %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head> 