.homepage section {
  text-align: center;
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  padding: 1.5em 0.5em;

  &:not(:first-of-type) {
    padding: 0.5em;
  }

  &.homepage-intro {
    max-width: 45em;
  }
}

.homepage-intro .fb-follow {
  margin-top: 1em;
}

.upcoming-event {
  text-align: center;
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  padding: 0.5em 0.5em;
  font-size: 18px;

  @media only screen and (min-width: 860px) {
    font-size: 25px;
  }

  h3 {
    font-size: 90%;
    font-weight: 600;
    margin: 20px 0;
  }

  .event {
    .title {
      font-size: 150%;
      font-weight: 600;
      color: rgb(29, 64, 3);
    }
    .subtitle {
      font-size: 120%;
      font-style: italic;
      font-weight: lighter;
      line-height: 1.2;
      margin: 0 auto;
      max-width: 20em;
      color: rgb(0, 0, 0);
    }
  }
  .details {
    margin: 1em 0;
    dl {
      font-size: 90%;
      .row {
        margin-top: 1em;
      }
    }
  }

  .event-poster {
    width: 90%;
    max-width: 700px;
  }
}