.repertoire {
  .repertoire-list {
    font-size: 24px;
    .repertoire-list_song {
      margin-bottom: 1em;
    }
    dt {
      border-bottom: 1px solid #bbb;
      padding-bottom: 10px;
      margin: 10px auto;
    }
    dd {
      font-size: 60%;
      font-style: italic;
      color: #555;
    }
  }
}