---
layout: default
---
{% if page.images.feature %}
<section class="general-intro thick-intro ng-scope" id="home-intro">
  <div 
    class="general-intro-image" 
    style="background-image: url({% asset_path {{page.images.feature}} %})"></div>
  {% if page.feature_title %}
  <div class="intro-title">
    {% if page.feature_title.en %}
    <h2 lang="en">{{page.feature_title.en}}</h2> 
    {% endif %}
    {% if page.feature_title.ja %}
    <h2 lang="ja">{{page.feature_title.ja}}</h2>
    {% endif %}
  </div>
  {% endif %}
</section>
{% endif %}
<div class="page center-xs">
  <!-- <div class="fb-share-button"  
    data-layout="button">
  </div> -->
{{ content }}
</div>